<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Prager_Book_Maintenance.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Prager_Book_Inventory.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Prager_Book_Maintenance.Settings1>
      <!--<setting name="lastExport" serializeAs="String">
        <value />
      </setting>-->
    </Prager_Book_Maintenance.Settings1>
  </applicationSettings>
  <connectionStrings>
    <add name="Prager_Book_Maintenance.Properties.Settings.Connection1" connectionString="Data Source=.\SQLExpress;Integrated Security=True;AttachDBFilename=|DataDirectory|BookInventory.mdf" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <userSettings>
    <Prager_Book_Inventory.Settings>
    </Prager_Book_Inventory.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
