<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Prager_Book_Maintenance.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Prager_Book_Inventory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Prager_Book_Inventory.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Prager_Book_Maintenance.Settings1>
      <!--<setting name="lastExport" serializeAs="String">
        <value />
      </setting>-->
    </Prager_Book_Maintenance.Settings1>
  </applicationSettings>
  <connectionStrings>
    <add name="Prager_Book_Maintenance.Properties.Settings.Connection1" connectionString="Data Source=.\SQLExpress;Integrated Security=True;AttachDBFilename=|DataDirectory|BookInventory.mdf" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <userSettings>
    <Prager_Book_Inventory.Properties.Settings>
      <setting name="AutoPricingLookup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VerifyDeletes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BackupOnExit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CreateKeywords" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoBookNumbering" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WarnCatalogMissing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WarnLocationMissing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WarnDJMissing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GenCustNbrs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GenInvNbrs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MaintainFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Capitalize" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartSearch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartBookDetail" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DualCatalogs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Balloons" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseAmazonBindings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Amazon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ABE" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Alibris" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AntiqBook" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Biblio" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Bibliology" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Biblion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Bibliophile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BookAve" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BookByte" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BookPursuit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HalfDotCom" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ChooseBooks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Chrislands" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GoogleBase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TomFolio" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UsedBook" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Valore" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="A1Books" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UploadCS1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UploadCS2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UploadCS3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UploadCS4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExportUID" serializeAs="String">
        <value/>
      </setting>
      <setting name="Version" serializeAs="String">
        <value/>
      </setting>
      <setting name="Logo" serializeAs="String">
        <value/>
      </setting>
      <setting name="Address" serializeAs="String">
        <value/>
      </setting>
      <setting name="Ounces" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Kilograms" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Pound" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Euro" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Dollar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HalfDotComToken" serializeAs="String">
        <value/>
      </setting>
      <setting name="MultipleSKUs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OneSKU" serializeAs="String">
        <value>True</value>
      </setting>
    </Prager_Book_Inventory.Properties.Settings>
    <Prager_Book_Inventory.Settings>
    </Prager_Book_Inventory.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
